.edit-profile-div{
    display: flex;
    flex-direction: column;
}
.edit-profile-side-nav{
    align-items: center;
    height: fit-content;
    width: 20%;
    top: 80px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px;
}
.profile-change-img{
    height: 100px;
    width: 100px;
    color: gainsboro;
}

.div-profile{
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
}

.profile-img{
    margin: 5px 0px 0px 0px;
}
.profile-text{
    margin: 0px 0px 0px 20px;
}