.whole-home{
    background-color: #FFFFFF;
}
.veg-div {
    display: flex;
}

.veg-frame {
    background: url("../Images/Veg-Fruit.png")0% 0% no-repeat padding-box;
    position: relative;
    height: 500px;
    width: 1000px;
    background-size: cover;
}

.organic-veg {
    background: url("../Images/Organic\ Vegitables.png") 0% 0% no-repeat padding-box;
    width: 388px;
    height: 255px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fruit {
    background: url("../Images/Fruitilicious.png") 0% 0% no-repeat padding-box;
    width: 388px;
    height: 255px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sweet {
    background: url("../Images/Sweetness.png") 0% 0% no-repeat padding-box;
    width: 388px;
    height: 255px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.milk-products-div {
    display: flex;
}

.milk-products-frame {
    margin-top: 30px;
    background: url("../Images/Yoghurt.png") 0% 0% no-repeat padding-box;
    height: 300px;
    background-size: cover;
    width: 100%;
}

.veg-products-div {
    display: flex;
}

.veg-products-frame {
    margin: 80px 0px 80px 0px;
    background: url("../Images/Fruits\ and\ Veg.png") 0% 0% no-repeat padding-box;
    height: 600px;
    background-size: cover;
    width: 100%;
    border-radius: 0px !important;
}

.top-categories {
    color: #415162;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Open-Sans';
    margin-left: 90px;
    margin-top: 20px;
}

.dairy-promo {
    background: url("../Images/Dairy-Promo.png") 0% 0% no-repeat padding-box;
    height: 186px;
    width: 186px;
    background-size: cover;
    margin: 30px;
    cursor: pointer;
}

.promo-text{
    border: 1px solid #80B435;
    background-color: #80B435;
    color: white;
    margin: 160px 0px 0px 0px;
    border-radius: 0px 8px 0px 8px;
    width: 90%;
    padding-left: 10px;
}
.poultry-promo{
    background:url("../Images/Poultry-promo.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 186px;
    width: 186px;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
}


.seafood-promo{
    background:url("../Images/Seafood-promo.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 186px;
    width: 186px;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
}


.vegetables-promo{
    background:url("../Images/vegetables-promo.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 186px;
    width: 186px;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
}

.fresh-fruits-promo{
    background:url("../Images/fresh-fruits-promo.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 186px;
    width: 186px;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
}
.flowers-promo{
    background:url("../Images/flowers-promo.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 186px;
    width: 186px;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
}
.herbs-promo{
    background:url("../Images/herbs-promo.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 186px;
    width: 186px;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
}
.seasoning-promo{
    background:url("../Images/seasoning-promo.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 186px;
    width: 186px;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
}

.Slxdj{
    background-color: white !important;
    box-shadow: none !important;
}

.kXteup{
    background-color: white !important;
    box-shadow: none !important;
}

.title{
    color:#415162;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Open-Sans';
    margin-left: 90px;
}

.farm1-promo{
    background:url("../Images/Farm1.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 125px;
    width: 125px;
    cursor: pointer;
}
.farm1-text{
    font-size: 16px;
    text-align: center;
}
.farm2-promo{
    background:url("../Images/Farm2.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 125px;
    width: 125px;
    cursor: pointer;
}
.farm2-text{
    font-size: 16px;
    text-align: center;
}
.farm3-promo{
    background:url("../Images/Farm3.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 125px;
    width: 125px;
    cursor: pointer;
}
.farm3-text{
    font-size: 16px;
    text-align: center;
}
.farm4-promo{
    background:url("../Images/Farm4.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 125px;
    width: 125px;
    cursor: pointer;
}
.farm4-text{
    font-size: 16px;
    text-align: center;
}
.farm5-promo{
    background:url("../Images/Farm5.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 125px;
    width: 125px;
    cursor: pointer;
}
.farm5-text{
    font-size: 16px;
    text-align: center;
}
.farm6-promo{
    background:url("../Images/Farm6.png")0% 0% no-repeat padding-box;
    background-size: cover;
    height: 125px;
    width: 125px;
    cursor: pointer;
}
.farm6-text{
    font-size: 16px;
    text-align: center;
}

.featured-promos{
    color:#415162;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Open-Sans';
    margin-left: 90px;
    margin-top: -50px;
    margin-bottom: 30px;
}


.view-all-text{
    color: red;
    margin: 10px 0px 10px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open-Sans';
    margin-left: 20px;
    margin-top: -40px;
}

.view-all-text2{
    color: red;
    margin: 10px 0px 10px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open-Sans';
    margin-left: 20px;
}


.view-all-text3{
    color: red;
    margin-top: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open-Sans';
    margin-left: 20px;
}