.cart-header{
    margin-top: 80px;
    margin-left: 30px;
}

.name-farmname{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 40px;
}

.cart-body{
    margin-top: 30px !important;
    text-align: center;
    margin-bottom: 30px;
}
.page{
    border-width: 3px !important;
    margin: 20px;
}

.details-div-head{
    border-radius: 0px !important;
    border-style: ridge !important;
    background-color: #F5F5F5 !important;
    border-color: white white #C0C5CB white !important;
}
.details-div{
    border-radius: 0px !important;
    border-style: ridge !important;
    border-color: white white #C0C5CB white !important;
}

.cart-details{
    text-align: center;
    padding: 10px;
}

.cart-page-div{
    margin: auto;
    width: 80%;
}

.weight-item{
    margin-top: auto !important;
    margin-bottom: auto !important;
    color: #6B7885;
    font-family: 'Open Sans';
}
.quantity-item{
    margin-top: auto;
    margin-bottom: auto;
    color: #415162;
}

.item-details-header{
    color: #415162;
    font-family: 'Open Sans';
    font-weight: 800px;
    font-size: 18px;
}

.item-name{
    color: #415162;
    font-size: 18px;
    font-family: 'Open Sans';
}

.farm-name{
    color: #6B7885;
    font-family: 'Open Sans';
}

.price-item{
    margin: auto !important;
    display: flex;
    flex-direction: row;
}
.delete-add-remove{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.delete-item-img{
    background: url("../Images//Delete-Item.png")0% 0% no-repeat padding-box;
    height: 30px ;
    width: 30px;
    cursor: pointer;
}

.add-remove-item-box{
    display: flex;
    border: 1px solid #80B435;
    height: fit-content;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.remove-item{
    background-color: #80B435;
    cursor: pointer;
    color: white;
}

.add-item{
    background-color: #80B435;
    cursor: pointer;
    color: white;
}

.item-notkd{
    color: #6B7885;
}

.item-kd{
    color: #415162;
}

.whole-empty-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart-img{
    background: url("../Images/Empty-Cart.png")0% 0% no-repeat padding-box;
    height: 430px;
    width: 600px;
}

.empty-cart-text{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
}
.go-home-button{
    border: 1px solid #80B435;
    margin: 10px 0px 20px 20px;
    padding: 10px;
    text-align: center;
    background-color: #80B435;
    color: white;
    border-radius: 8px;
    width: fit-content;
}