.profile-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0px 0px 0px;
}

.app-download {
    background: url("../Images/APP.png")0% 0% no-repeat padding-box;
    height: 579px;
    width: 322px;
}

.login-register {
    width: 25%;
    margin: 50px 0px 0px 0px;
    height: fit-content;
}

.login {
    display: flex;
    flex-direction: column;
}

.login-text {
    margin: 20px 0px 0px 0px;
    text-align: justify;
}
.register-text{
    margin: 20px 0px 0px 0px;
    text-align: justify;
}

.email-div {
    /* width: 340px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #C0C5CB;
    margin: 20px 0px 0px 0px;
    border-radius: 8px;
    align-items: center;
}

.email-input {
    border: none !important;
}

input:focus {
    outline: none !important;
    outline-offset: 0px;
}

.password-input {
    border: none !important;
}

.email-input:focus {
    outline: none !important;
}

.password-div {
    /* width: 340px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #C0C5CB;
    margin: 20px 0px 0px 0px;
    border-radius: 8px;
    align-items: center;
}

.login-btn {
    border: 1px solid #80B435;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    text-align: center;
    background-color: #80B435;
    color: white;
    border-radius: 8px;
}

.send-code {
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.proceed-btn {
    border: 1px solid #80B435;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    text-align: center;
    background-color: #80B435;
    color: white;
    border-radius: 8px;
}

.error-view {
    margin: 20px 0px 0px 0px;
    color: red;
    text-align: center;
}

.nav-tabs {
    isolation: unset;
    color:black ;
    border-color: white !important;
    border-bottom-color: white;
}

.nav-link.active{
    border: none !important;
    isolation: unset;
    color:#80B435 !important;
    border-bottom-color: #80B435;
}

.mb-3{
    justify-content: center;
}
@media screen and (max-width: 800px) {
    .app-download {
        display: none;
    }

    .login-register {
        width: 50%;
        margin: 50px 0px 0px 0px;
        height: fit-content;
    }
}
@media screen and (max-width: 400px) {
    .login-register{
        width: 40%;
    }
    .nav-tabs{
        justify-content: center !important ;
        border-color: white !important;
    }
}

@media screen and (min-width:400px) and (max-width:800px){
    .mb-3{
        justify-content: center;
    }
}